<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="CollegeProjectConnectionString" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString2" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString3" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString4" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString5" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString6" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString7" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString8" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString9" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString10" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString11" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString12" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString13" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString14" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString15" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString16" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
        <add name="CollegeProjectConnectionString17" connectionString="Data Source=MANOHARES-5279\SQLEXPRESS;Initial Catalog=CollegeProject;Persist Security Info=True;User ID=sa;Password=shubham"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.7.2"/>
      <httpRuntime targetFramework="4.7.2"/>
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>
  <appSettings>
    <add key="ValidationSetting:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>
